<div id="Main__component-root">
    <header>
        <nav class="Main__component-nav-project-name">
            <p>Kanban</p>
        </nav>
        <nav class="Main__component-nav-board-name">
            <p>My first board</p>
        </nav>
    </header>

    <main class="Main__component-board-wrapper">

        <section class="Main__component-board-columns">

            <section class="board-column">
                <h1>Todos</h1>
                <section class="tasks">
                    <div class="task">
                        do this
                    </div>
                    <div class="task">
                        do this
                    </div>
                    <div class="task">
                        do this
                    </div>
                </section>

            </section>
            <section class="board-column">
                <h1>Doing</h1>
            </section>
            <section class="board-column">
                <h1>Done</h1>
            </section>

        </section>

    </main>
</div>